*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.App {
    background: linear-gradient(180deg, rgb(49, 82, 124), rgb(69, 113, 170) 100.00%);
    min-height: -webkit-fill-available;
    font-family: Segoe UI, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    font-weight: 400;
}

.hidden {
    display: none;
}

.weather {
    display: flex;
    flex-direction: column;
    gap: 6em;
    margin-top: 3em;
}

.current-weather {
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 9em;
    margin: auto;
    animation: slideUp 0.4s ease;
}

.current-weather__main .cur-location {
    margin-bottom: 0.5em;
    font-weight: 400;
    font-size: 2em;
}

.current-weather__data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8em;
}

.current-weather__data .weather-description {
    text-transform: capitalize;
    font-weight: bold;
}

.weather-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    text-transform: capitalize;
}

.current-weather .temp {
    font-size: 3.2em;
    font-weight: 400;
}

.daily-weather {
    display: flex;
    flex-direction: row;
    gap: 4em;
    animation: slideUpMore 0.6s ease;
    max-width: 60em;
    margin-inline: auto;
}

@media (max-width: 1024px) {
    .daily-weather{
        max-width: 45em;
    }
}

@media (max-width: 800px) {
    .daily-weather{
        max-width: 35em;
    }
}

@media (max-width: 600px) {
    .daily-weather{
        max-width: 25em;
    }
}

@media (max-width: 450px) {
    .daily-weather{
        max-width: 16em;
    }
}

.day-weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.day-weather .date {
    margin-bottom: 1em;
}

.daily-minmax {
    display: flex;
    flex-direction: row;
    gap: 0.8em;
    align-items: center; 
    justify-content: center;
}

.max {
    font-size: 2em;
}

@media (max-width: 29em) {
    .cur-location {
      font-size: 1.6em;
    }

    .current-weather .temp {
      font-size: 1.8em;
    }

    .current-weather {
        flex-direction: column;
        gap: 3em;
    }
}

@keyframes slideUp {
    0% {
        transform: skewY(5deg) translateY(70px)
    }
    100% {
        transform: skewY(0deg) translate(0)
    }
}

@keyframes slideUpMore {
    0% {
        transform: translateY(150px) translate(0)
    }
}

.loading {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
  .lds-roller div {
    animation: lds-roller 1.4s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
}
.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
}
.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
}
.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
}
.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
}
.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
}
.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
}
.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
}
.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
}
@keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  